#bbpress-forums .bbp-forums-list .bbp-forum {
    display: block;
    margin: 5px 0;
}

#bbpress-forums .bbp-forums-list .bbp-forum.css-sep:not(:last-child)::after {
    content: "";
}

#bbpress-forums .alert {
    overflow: auto;
    width: 100%;
}

.civibbg-forum-links {
    display: block;
    clear: both;
}

.civibbg-forum-links span {
    margin: 0 5px;
}

